<%- content_for :title, t('view.seasons.show.title') % { season: @season.name } %>
<%- content_for :description, t('view.seasons.show.description') % { season: @season.name } %>
<%- content_for :canonical_url, seasons_url %>

<div id="print">

  <div class="thin-hero inverted">
    <div class="wrapper">
      <span class="subheading">Season Leaderboard</span>
      <h1><%= @season.name %></h1>
    </div>
  </div>

  <div class="column-wrapper">

    <div class="wide">

      <!-- Leaderboard -->
      <div class="background">
        <h2>Leaderboard</h2>

        <%- if @players.empty? %>
          <%= render partial: 'application/empty_state', locals: { description: 'No one has played in this season yet.' } %>
        <%- else %>
          <div class="table-wrapper">
            <table>
              <tr>
                <th></th>
                <th class="stretch">Name</th>
                <th class="numeric">Score</th>
                <th class="numeric">P</th>
                <th class="numeric">W</th>
              </tr>
              <%= render collection: @players, partial: 'player' %>
            </table>
          </div>
        <%- end %>

        <div class="background-footer">
          <%= paginate @players %>
          <p><%= page_entries_info @players %></p>
        </div>

      </div>

    </div>

    <div class="thin">

      <!-- Facebook -->
      <div class="background">
        <h2>About this season</h2>

        <ul class="info">

          <!-- Duration -->
          <li>
            <i class="material-icons">date_range</i>
            <%= @season.start_at.strftime '%B' %> - <%= @season.end_at.strftime '%B' %>
          </li>

          <!-- Players -->
          <li>
            <i class="material-icons">person</i>
            <%= pluralize @season.players.count, 'player' %>
          </li>

          <!-- Games -->
          <li>
            <i class="material-icons">casino</i>
            <%= pluralize @games_played, 'game' %>
          </li>

        </ul>

        <div class="buttons">
          <!-- Print -->
          <%= link_to 'javascript:print("#print")', class: 'button-secondary' do %>
            <i class="material-icons">&#xE8AD;</i>
            Print this page
          <% end %>
        </div>

      </div>

    </div>

  </div>

</div>