<%- content_for :title do %>Leaderboard &middot; <%= @season.name %><% end %>

<div class="thin-hero">
    <div class="wrapper">
        <h1 class="has-subtitle"><%= @season.name %></h1>
        <p class="subtitle">Held from <%= local_date @season.start_at, '%A, %B %e' %> to <%= local_date @season.end_at, '%A, %B %e' %>.</p>
    </div>
</div>

<div class="column-wrapper">

    <div class="wide">

        <!-- Leaderboard -->
        <div class="background">
            <h2>Leaderboard</h2>

            <%- if @players.empty? %>
                <%= render partial: 'application/empty-state', locals: { description: 'No one has played in this season yet.'} %>
            <%- else %>
                <div class="table-wrapper">
                    <table>
                        <tr>
                            <th></th>
                            <th class="stretch">Player</th>
                            <th class="numeric">Played</th>
                            <th class="numeric">Wins</th>
                            <th class="numeric">Score</th>
                        </tr>
                        <%= render collection: @players, partial: 'player' %>
                    </table>
                </div>
            <%- end %>

            <div class="background-footer">
                <%= paginate @players %>
                <p><%= page_entries_info @players %></p>
            </div>

        </div>

    </div>

    <div class="thin">

        <!-- Facebook -->
        <div class="background">
            <h2>About this season</h2>

            <ul class="info">

                <!-- Duration -->
                <li>
                    <i class="material-icons">date_range</i>
                    <%= local_date @season.start_at, '%B' %> - <%= local_date @season.end_at, '%B' %>
                </li>

                <!-- Players -->
                <li>
                    <i class="material-icons">person</i>
                    <%= pluralize @season.players.count, 'player' %>
                </li>

                <!-- Games -->
                <li>
                    <i class="material-icons">casino</i>
                    <%= pluralize @games_played, 'game' %>
                </li>

            </ul>

            <div class="buttons">
                <!-- Print -->
                <%= link_to 'javascript:void(0)', class: 'button-secondary' do %>
                    <i class="material-icons">&#xE8AD;</i>
                    Print this page
                <% end %>
            </div>

        </div>

    </div>

</div>