<%= form_with model: [:admin, @player], class: 'modal-form' do |form| %>

  <!-- Username -->
  <%- if @player.persisted? %>
    <div class="field">
      <%= form.label :username %><br/>
      <%= field_errors @player, :username %>
      <%= form.text_field :username, spellcheck: false %>
    </div>
  <%- end %>

  <!-- First name -->
  <div class="field">
    <%= form.label :first_name %><br/>
    <%= field_errors @player, :first_name %>
    <%= form.text_field :first_name, autofocus: true, spellcheck: false, placeholder: 'Given name...' %>
  </div>

  <!-- Last name -->
  <div class="field">
    <%= form.label :last_name %><br/>
    <%= field_errors @player, :last_name %>
    <%= form.text_field :last_name, spellcheck: false, placeholder: 'Surname...' %>
  </div>

  <!-- Email address -->
  <div class="field">
    <%= form.label :email, 'Email (Optional)' %><br/>
    <%= field_errors @player, :email %>
    <%= form.email_field :email, placeholder: 'someone@example.com' %>
  </div>

  <h2>Permissions</h2>

  <div class="field">
    <div class="checkbox">
      <%= form.check_box :admin %>
      <%= form.label :admin, 'Access admin panel' %>
    </div>
  </div>

  <%= form.submit class: 'button wide', remote: true, data: { disable_with: 'Please wait...' } %>
<% end %>
