<tr>

  <!-- Player name and username -->
  <td>
    <%= link_to edit_admin_player_path(player), remote: true, data: { expects_modal: 'true' } do %>
      <span class="highlight"><%= player.full_name %></span>&nbsp;@<%= player.username %>
      <%- if player.is_developer? %>
        <span class="flair">developer</span>
      <%- elsif player.is_admin? %>
        <span class="flair">admin</span>
      <%- end %>
    <%- end %>
  </td>

  <!-- IP address -->
  <td class="inter-ui-ss01 stretch">
    <%- unless player.current_sign_in_ip == nil %>
      <%= player.current_sign_in_ip %>
      <%- unless player.current_sign_in_at == nil %>
        &middot; <%= local_time_ago player.current_sign_in_at %>
      <%- end %>
    <%- end %>
  </td>

  <!-- Score -->
  <td class="numeric"><%= number_to_human(player.score, format: '%n%u', precision: 2, units: { thousand: 'k', million: 'm', billion: 'b' }) %> pts</td>

</tr>
