<tr>
    <td><%= player.full_name %></td>
    <td>@<%= player.username %></td>
    <td><%= link_to 'view (public)', player_path(player) %></td>
    <td><%= link_to 'view (admin)', admin_player_path(player) %></td>
    <td><%= link_to 'edit', edit_admin_player_path(player) %></td>
</tr>
