<% content_for :title, "Edit @#{@player.username} (Admin)" %>

<div class="admin-body">
    <h1>Edit @<%= @player.username %></h1>
    <p class="form-description">Update this player. Be careful, this can be dangerous!</p>
    <%= render 'form' %>
</div>

<div class="danger-zone admin-body" style="margin-top: 2rem;">

    <h1><i class="material-icons">&#xE002;</i>Danger Zone</h1>
    <p class="form-description">Be careful! These actions could have unforeseen consequences, and cannot be undone.</p>

    <h2>Delete player</h2>
    <p><strong>Permanently</strong> delete @<%= @player.username %> from the database. You will not be able to recover this account, and the user will no longer be able to login.</p>
    <div class="buttons">
        <%= link_to admin_player_path(@player), method: :delete, class: 'button danger', data: {confirm: t('player.confirm_delete')} do %>
            Delete @<%= @player.username %>
        <% end %>
    </div>

</div>