<%- content_for :title, t('admin.players.index.title') %>

<div class="heading-and-button">
  <div>
    <span class="subheading">Admin Tools</span>
    <h1><%= t('admin.players.index.title') %></h1>
  </div>
  <div>
    <%= link_to new_admin_player_path, class: 'button', remote: true, data: { expects_modal: true } do %>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
           height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" class="material-icons" style="margin-left: -3px;">
        <path d="M15,12c2.21,0,4-1.79,4-4s-1.79-4-4-4s-4,1.79-4,4S12.79,12,15,12z M6,10V8c0-0.55-0.45-1-1-1h0C4.45,7,4,7.45,4,8v2H2
		c-0.55,0-1,0.45-1,1v0c0,0.55,0.45,1,1,1h2v2c0,0.55,0.45,1,1,1h0c0.55,0,1-0.45,1-1v-2h2c0.55,0,1-0.45,1-1v0c0-0.55-0.45-1-1-1H6
		z M15,14c-2.67,0-8,1.34-8,4v1c0,0.55,0.45,1,1,1h14c0.55,0,1-0.45,1-1v-1C23,15.34,17.67,14,15,14z"></path>
      </svg>
      <span><%= t('admin.players.new.title') %></span>
    <%- end %>
  </div>
</div>

<div class="breakdown">
  
</div>

<div class="players-list model-list">
  <table>
    <%= render @players %>
  </table>
</div>

<div class="model-list-footer">
  <%= paginate @players %>
  <p><%= page_entries_info @players %></p>
</div>


    <!-- Breakdown -->
<!--    <div class="background">-->
<!--      <h2><i class="material-icons">&#xE8E5;</i> Breakdown</h2>-->

<!--      <div class="stats">-->

<!--        <!-- Registered players -->
<!--        <div class="stat">-->
<!--          <p class="numeric"><%#= number_with_delimiter @stats[:count] %></p>-->
<!--          <p class="label">registered players</p>-->
<!--        </div>-->

<!--        <!-- New players -->
<!--        <div class="stat">-->
<!--          <p class="numeric"><%#= number_with_delimiter @stats[:new_count] %></p>-->
<!--          <p class="label">in the last 30 days</p>-->
<!--        </div>-->

<!--        <!-- # of admins -->
<!--        <div class="stat">-->
<!--          <p class="numeric"><%#= number_with_delimiter @stats[:admin_count] %></p>-->
<!--          <p class="label">administrators</p>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->

<!--    <div class="background">-->

<!--      <h2><i class="material-icons">&#xE7FB;</i> All players</h2>-->

      <%#- if @players.empty? %>
        <%#= render partial: 'admin/empty_state', locals: { noun: 'players', link: new_admin_player_path } %>
      <%#- else %>
<!--        <div class="table-wrapper">-->
<!--          <table>-->
<!--            <tr>-->
<!--              <th>Name</th>-->
<!--              <th>Username</th>-->
<!--              <th class="badge-column"></th>-->
<!--              <th class="numeric stretch">Score</th>-->
<!--              <th class="numeric">Played</th>-->
<!--              <th class="numeric">Won</th>-->
<!--            </tr>-->
            <%#= render @players %>
<!--          </table>-->
<!--        </div>-->
      <%#- end %>

<!--      <div class="background-footer">-->
        <%#= paginate @players %>
<!--        <p><%#= page_entries_info @players %></p>-->
<!--      </div>-->

<!--    </div>-->

<!--  </div>-->