<h1>New Player</h1>
<p>Create a new player</p>

<%= form_for @player, url: { action: 'create' } do |form| %>

    <%= render partial: 'application/form-errors', locals: { object: @player } %>

    <div class="field">
        <%= form.label :first_name %><br/>
        <%= form.text_field :first_name, autofocus: true, spellcheck: false %>
    </div>

    <div class="field">
        <%= form.label :last_name %><br />
        <%= form.text_field :last_name, spellcheck: false %>
    </div>

    <div class="field">
        <%= form.label :email %><br/>
        <%= form.email_field :email %>
    </div>

    <div class="field">
        <%= form.check_box :is_admin %>
        <%= form.label :is_admin %>
    </div>

    <div class="actions">
        <br />
        <%= form.submit 'Create new player' %> |
        <%= link_to 'Cancel', admin_players_path %>
    </div>

<% end %>
