<h1>@<%= @player.username %></h1>

<p>Here's some info about <%= @player.first_name %>:</p>

<table>
    <tr>
        <td>First Name</td>
        <td><%= @player.first_name %></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><%= @player.last_name %></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><%= @player.email %></td>
    </tr>
    <tr>
        <td>Is admin?</td>
        <td><%= @player.is_admin %></td>
    </tr>
    <tr>
        <td>Receiving promotional emails</td>
        <td><%= @player.notify_promotional %></td>
    </tr>
    <tr>
        <td>Receiving upcoming event emails</td>
        <td><%= @player.notify_events %></td>
    </tr>
    <tr>
        <td>Sign in count</td>
        <td><%= @player.sign_in_count %></td>
    </tr>
</table>

<br />
<%= link_to 'Edit', edit_admin_player_path(@player) %> |
<%= link_to 'Delete', admin_player_path(@player), method: :delete, data: { confirm: t('player.confirm_delete')} %>