<%= form_with model: [:admin, @event.becomes(Event)], class: 'modal-form' do |form| %>
  <!-- Title -->
  <div class="field">
    <%= form.label :title %><br/>
    <%= field_errors @event, :title %>
    <%= form.text_field :title, autofocus: true, placeholder: 'e.g. Mad Monday' %>
  </div>

  <!-- Description -->
  <div class="field">
    <%= form.label :description %><br/>
    <%= field_errors @event, :description %>
    <%= form.text_area :description, placeholder: 'Outline the buy-in, starting stack, rebuy, and more.' %>
  </div>

  <!-- Venue -->
  <div class="field">
    <%= form.label :venue_id, for: 'event_venue_id' %><br/>
    <%= field_errors @event, :venue %>
    <%= form.collection_select :venue_id, Venue.all, :id, :name, {}, { id: 'event_venue_id' } %>
  </div>

  <h2>Timing</h2>

  <!-- Start at -->
  <div class="field">
    <%= form.label :start_at %><br/>
    <%= field_errors @event, :start_at %>
    <%= form.text_field :start_at, placeholder: 'Click to edit', class: 'datepickr', data: { conf_type: 'time' } %>
  </div>

  <% if action_name == 'new' || action_name == 'create' -%>
    <!-- Type -->
    <div class="field">
      <div class="checkbox">
        <%= form.check_box :repeats, class: 'js-event-type-toggle' %>
        <%= form.label :repeats %>
      </div>
    </div>

    <!-- Period -->
    <div class="field js-period-field">
      <%= form.label :period %><br/>
      <%= field_errors @event, :period %>
      <%= form.select :period, RecurringEvent.period_map %>
    </div>

    <!-- Interval -->
    <div class="field js-interval-field">
      <%= form.label :interval %><br/>
      <%= field_errors @event, :interval %>
      <span>Every</span>
      <%= form.number_field :interval, min: 1, style: 'max-width: 80px;' %>
      <span class="js-interval-label">days</span>
    </div>

    <!-- Days of the week -->
    <div class="field js-weekdays">
      <label>On these days:</label><br/>
      <%= week_day_checkboxes form, @event %>
    </div>
  <% end -%>

  <%= form.submit name: nil, class: 'button wide', data: { disable_with: 'Please wait...' } %>
<%- end %>