<tr>
  <td><%= recurring_event.clean_title %></td>
  <td><%= local_time_ago recurring_event.start_at %></td>
  <td><%= recurring_event.period %></td>
  <td style="text-align: right"><%= recurring_event.interval %></td>
  <td><%= link_to 'edit', edit_admin_event_path(recurring_event) %></td>
</tr>