<%= form_with model: [:admin, @event], class: 'modal-form' do |form| %>

  <!-- Title -->
  <div class="field">
    <%= form.label :title %><br/>
    <%= form.text_field :title, autofocus: true, placeholder: 'e.g. Mad Monday' %>
  </div>

  <!-- Description -->
  <div class="field">
    <%= form.label :description %><br/>
    <p class="field-descriptor">Outline the buy-in, starting stack, rebuy, and more.</p>
    <%= form.text_area :description %>
  </div>

  <!-- Venue -->
  <div class="field">
    <%= form.label :venue_id, for: 'event_venue_id' %><br/>
    <%= form.collection_select :venue_id, Venue.all, :id, :name, {}, { id: 'event_venue_id' } %>
  </div>

  <%= form.submit name: nil, class: 'button wide', data: { disable_with: 'Please wait...' } %>
<%- end %>