<div class="admin-body">

    <div class="admin-breakdown">

        <h2><span>breakdown</span><i class="material-icons">&#xE8E5;</i></h2>

        <div class="stats">

            <!-- Finished events -->
            <div class="stat">
                <p class="value"><%= number_with_delimiter @stats[:finished] %></p>
                <p class="description">events held</p>
            </div>

            <!-- Upcoming events -->
            <div class="stat">
                <p class="value"><%= number_with_delimiter @stats[:upcoming] %></p>
                <p class="description">upcoming events</p>
            </div>

            <!-- Recurring events -->
            <div class="stat">
                <p class="value"><%= number_with_delimiter @stats[:recurring] %></p>
                <p class="description">recurring events</p>
            </div>

        </div>

    </div>

    <% if @events.empty? %>
        There's nothing here.
    <% else %>

        <table>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Description</th>
                <th class="stretch"></th>
                <th>Start time</th>
            </tr>
            <%= render collection: @events, partial: 'admin/events/event' %>
        </table>

        <div class="footer">
            <%= paginate @events %>
            <p><%= page_entries_info @events %></p>
        </div>

    <% end %>

</div>
