<% player = comment.player -%>
<li class="comment<%= ' deleted' if comment.deleted %>">
  <!-- Comment header -->
  <div class="comment-header">
    <% if player.nil? -%>
      [Deleted player]
    <% else -%>
      <%= link_to player_path(player) do %>
        <span class="highlight"><%= player.full_name %></span>&nbsp;@<%= player.username %>
        <% if player.developer? -%>
          <span class="flair">developer</span>
        <% elsif player.admin? -%>
          <span class="flair">admin</span>
        <% end -%>
      <% end -%>
    <% end -%>

    <span>&nbsp;&middot; commented <%= local_time_ago comment.created_at %></span>
  </div>

  <!-- Contents -->
  <div class="comment-body">
    <p><%= comment.body %></p>
  </div>

  <!-- Footer -->
  <ul class="comment-footer">
    <% if comment.deleted -%>
      <li><span>This comment has been deleted</span></li>
    <% elsif player == current_player -%>
      <!-- Edit -->
      <li><%= link_to 'edit', edit_game_comment_path(@game, comment),
                      remote: true,
                      data: { expects_modal: true } %></li>
    <% end -%>

    <% if (player == current_player || current_player.admin) && !comment.deleted -%>
      <li><%= link_to 'delete', game_comment_path(@game, comment),
                      remote: true, 
                      method: :delete,
                      data: { confirm: 'Are you sure you want to delete this comment?' } %></li>
    <% end -%>
  </ul>
</li>
