<!-- Create comment form -->
<% form_class = @comment.persisted? ? 'modal-form' : 'comment-form' -%>
<%= form_with model: [@game, @comment], class: form_class do |form| %>
  <%= field_errors @comment, :body %>
  <%= form.text_area :body, placeholder: 'Leave a comment...' %>

  <% unless @comment.persisted? -%>
    <div class="comment-form--footer">
      <%= form.label :body, "Commenting as @#{current_player.username}" %>
      <% label = @comment.persisted? ? 'Update comment' : 'Post comment' -%>
      <%= form.submit 'Post comment', class: 'button',
                      data: { disable_with: 'Commenting...' } %>
    </div>
  <% else -%>
      <%= form.submit 'Update comment', class: 'button wide',
                      data: { disable_with: 'Please wait...' } %>
  <% end -%>
<% end -%>
