<%= form_with model: [:admin, @achievement.becomes(Achievement)], html: { multipart: true }, class: 'modal-form' do |form| %>

  <!-- Achievement -->
  <div class="field">
    <%= form.label :type, 'Achievement' %><br/>
    <%= field_errors @achievement, :type %>
    <%= form.select :type, options_for_select(
        [
            [StraightFlush.title, StraightFlush.sti_name],
            [RoyalFlush.title, RoyalFlush.sti_name],
            [KingOfTheWorld.title, KingOfTheWorld.sti_name]
        ]
    ) %>
  </div>

  <!-- Player -->
  <div class="field">
    <%= form.label :player_id %><br/>
    <%= field_errors @achievement, :player_id %>
    <%= form.hidden_field :player_id %>
    <div class="player-input-wrapper">
      <%= form.text_field :player, class: 'typeahead-achievement player-input', name: nil, placeholder: 'Name or username', value: @player_name %>
    </div>
  </div>

  <!-- Proof -->
  <div class="field">
    <label>Proof</label><br/>
    <%= field_errors @achievement, :proof %>
    <%= form.label :proof, class: 'button' do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" class="material-icons" style="margin-left: -3px">
        <path d="M10.59,4.59C10.21,4.21,9.7,4,9.17,4H4C2.9,4,2.01,4.9,2.01,6L2,18c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V8c0-1.1-0.9-2-2-2h-8L10.59,4.59z"></path>
      </svg>
      <span><%= t('input.file.label') %></span>
    <%- end %>
    <%= form.file_field :proof, class: 'auto-submit', direct_upload: true %>
  </div>

  <%= form.submit 'Award Achievement', class: 'button wide', data: { disable_with: 'Please wait...' } %>
<%- end %>