<%= form_with model: @achievement.becomes(Achievement), 
              url: admin_player_achievements_path(@player), 
              html: { multipart: true }, 
              class: 'modal-form' do |form| %>
  <!-- Achievement -->
  <div class="field">
    <%= form.label :type, 'Achievement' %><br/>
    <%= field_errors @achievement, :type %>
    <%= form.select :type, options_for_select(
        [
            [StraightFlush.title, StraightFlush.sti_name],
            [RoyalFlush.title, RoyalFlush.sti_name],
            [KingOfTheWorld.title, KingOfTheWorld.sti_name]
        ]
    ) %>
  </div>

  <!-- Proof -->
  <div class="field">
    <%= form.label :proof %><br/>
    <%= field_errors @achievement, :proof %>
    <%= form.file_field :proof %>
  </div>

  <%= form.submit 'Award Achievement', 
                  class: 'button wide', 
                  data: { disable_with: 'Please wait...' } %>
<% end %>
