
<div class="admin-body">

    <h1>Award an Achievement</h1>

    <%= form_with model: [:admin, @achievement.becomes(Achievement)], html: { multipart: true }, data: { remote: false } do |form| %>

        <p>Award a player with an achievement.</p>

        <%= render partial: 'application/form-errors', locals: { object: @achievement } %>

        <section>
            <div class="section-outline">
                <h2>Basic info</h2>
            </div>
            <div class="section-content">

                <!-- Achievement -->
                <div class="field">
                    <%= form.label :type, 'Achievement' %><br/>
                    <%= form.select :type, options_for_select(
                        [
                            [StraightFlush.title, StraightFlush.sti_name],
                            [RoyalFlush.title, RoyalFlush.sti_name]
                        ]
                    ) %>
                </div>

                <!-- Player -->
                <div class="field">
                    <%= form.label :player_id %><br/>
                    <%= form.hidden_field :player_id %>
                    <div class="player-input-wrapper">
                        <%= form.text_field :player,
                                            class: 'typeahead player-input',
                                            name: nil,
                                            placeholder: 'Name or username',
                                            value: @player_name %>
                    </div>
                </div>

                <!-- Proof -->
                <div class="field">
                    <%= form.label :proof %><br/>
                    <em>Please include a photograph for proof.</em><br/>
                    <%= form.file_field :proof %>
                </div>

            </div>
        </section>

        <div class="actions buttons">
            <%= form.submit 'Award achievement', class: 'button' %>
            <%= link_to 'Cancel', admin_players_path, class: 'button-tertiary' %>
        </div>

    <% end %>

</div>