<% if controller_name == 'players' %>
    <%= render_search admin_players_path, 'Search Players' %>
    <%= link_to 'Create player', new_admin_player_path, class: 'button' %>
<% elsif controller_name == 'games' %>
    <%= render_search admin_games_path, 'Search Games' %>
    <%= link_to new_admin_game_path, class: 'button' do %>
        <i class="material-icons">&#xE150;</i>
        <span>Record a game</span>
    <% end %>
<% elsif controller_name == 'events' %>
    <%= render_search admin_events_path, 'Search Events' %>
<% elsif controller_name == 'venues' %>
    <%= render_search admin_venues_path, 'Search Venues' %>
    <%= link_to 'Create venue', new_admin_venue_path, class: 'button' %>
<% elsif controller_name == 'regions' %>
    <%= render_search admin_regions_path, 'Search Regions' %>
    <%= link_to 'Create region', new_admin_region_path, class: 'button' %>
<% else %>
    <%= render_search admin_players_path, 'Search Players' %>
<% end %>