<% if controller_name == 'players' %>
  <%= link_to 'Create player', new_admin_player_path, class: 'button' %>
<% elsif controller_name == 'games' %>
  <%= link_to new_admin_game_path, class: 'button' do %>
    <i class="material-icons">&#xE150;</i>
    <span>Record a game</span>
  <% end %>
<% elsif controller_name == 'events' %>
  <%= link_to new_admin_event_path, class: 'button' do %>
    <i class="material-icons">&#xE878;</i>
    <span>Schedule an event</span>
  <% end %>
<% elsif controller_name == 'venues' %>
  <%= link_to 'Create venue', new_admin_venue_path, class: 'button' %>
<% elsif controller_name == 'regions' %>
  <%= link_to 'Create region', new_admin_region_path, class: 'button' %>
<% end %>