<div class="admin-navigation">

    <h2>Navigation</h2>

    <ul>

        <!-- Players -->
        <li id="players">
            <%= link_to admin_players_path, title: 'Manage Players', class: controller_name == 'players' ? 'active' : '' do %>
                <i class="material-icons">&#xE7FB;</i>
                <span>Players</span>
            <% end %>
        </li>

        <!-- Games -->
        <li id="games">
            <%= link_to admin_games_path, title: 'Manage Games', class: controller_name == 'games' ? 'active' : '' do %>
                <i class="material-icons">&#xE021;</i>
                <span>Games</span>
            <% end %>
        </li>

        <!-- Events -->
        <li id="events">
            <%= link_to admin_events_path, title: 'Manage Events', class: controller_name == 'events' ? 'active' : '' do %>
                <i class="material-icons">&#xE616;</i>
                <span>Events</span>
            <% end %>
        </li>

        <!-- Venues -->
        <li id="venues">
            <%= link_to admin_venues_path, title: 'Manage Venues', class: controller_name == 'venues' ? 'active' : '' do %>
                <i class="material-icons">&#xE8F9;</i>
                <span>Venues</span>
            <% end %>
        </li>

        <!-- Regions -->
        <li id="regions">
            <%= link_to admin_regions_path, title: 'Manage Regions', class: controller_name == 'regions' ? 'active' : '' do %>
                <i class="material-icons">&#xE0C8;</i>
                <span>Regions</span>
            <% end %>
        </li>

        <!-- More -->
        <li class="more">
            <%= link_to 'javascript:void(0)', title: 'View more options' do %>
                <i class="material-icons">&#xE5D3;</i>
                <span>More</span>
            <% end %>
        </li>

    </ul>

    <h2>Actions</h2>

    <ul class="actions">

        <!-- Achievements -->
        <li>
            <%= link_to new_admin_achievement_path, title: 'Manage Achievements', class: controller_name == 'achievements' ? 'active' : '' do %>
                <i class="material-icons">&#xE8E6;</i>
                <span>Award achievements</span>
            <% end %>
        </li>

        <!-- Get player emails -->
        <li>
            <%= link_to 'javascript:void(0)' do %>
                <i class="material-icons">&#xE0BE;</i>
                <span>Generate mailing list</span>
            <% end %>
        </li>

        <!-- Top monthly scores -->
        <li>
            <%= link_to 'javascript:void(0)' do %>
                <i class="material-icons">&#xE8AD;</i>
                <span>Print monthly scores</span>
            <% end %>
        </li>

    </ul>

    <h2>Danger Zone</h2>

    <ul>
        <!-- Browse job queues -->
        <li>
            <%= link_to sidekiq_web_path, data: {confirm: 'Warning! This area is potentially very dangerous! You have been warned.'} do %>
                <i class="material-icons">&#xE03C;</i>
                <span>Sidekiq dashboard</span>
            <% end %>
        </li>
    </ul>

    <hr/>

    <p class="copyright">River Rats Poker League &copy; <%= Date.today.year %></p>
</div>