<p>Welcome <%= @player.first_name %>,</p>
<p>Someone just created an account for you at <%= link_to 'riverrats.com.au', root_url %>.</p>

<p>Your username:
<span style="font-family: monospace;background: rgb(243, 244, 246);border-radius: 2px;padding: 3px 0;">&nbsp;<%= @player.username %>&nbsp;</span>
</p>

<p>Your password:
<span style="font-family: monospace;background: rgb(243, 244, 246);border-radius: 2px;padding: 3px 0;">&nbsp;<%= @password %>&nbsp;</span>
</p>

<%= link_to 'Click here to log in', new_player_session_url %>
