<%= form_with model: [:admin, @game], class: 'modal-form game-form' do |form| %>

  <!-- Date played -->
  <div class="field">
    <%= form.label :played_on %><br/>
    <%= field_errors @game, :played_on %>
    <%= form.date_field :played_on, placeholder: 'Click to edit' %>
  </div>

  <!-- Venue -->
  <div class="field">
    <%= form.label :venue_id %><br/>
    <%= field_errors @game, :venue_id %>
    <%= form.collection_select :venue_id, Venue.all, :id, :name %>
  </div>

  <!-- Season -->
  <div class="field">
    <%= form.label :season_id %><br/>
    <%= field_errors @game, :season_id %>
    <%= form.collection_select :season_id, Season.all.order(start_at: :desc).limit(10), :id, :name %>
  </div>

  <div class="player-area-header">
    <h2><%= t('admin.games.new.add_players') %></h2>
    <%= link_to 'Create player', new_admin_player_path, class: 'anchor', remote: true, data: { expects_modal: true } %>
  </div>

  <%= field_errors @game, :games_players %>

  <div class="player-area" id="js-game-players">
    <%= render 'empty_players', show: @game.games_players.empty? %>
    <ul class="players js-sortable" style="<%= 'display: none' if @game.games_players.empty? %>" data-scope="player">
      <%= form.fields_for :games_players do |players_form| -%>
        <%= render 'games_player_fields', form: players_form %>
      <% end -%>
    </ul>
  </div>

  <div class="player-area-footer">
    <div class="player-input-wrapper" id="js-game-players-input">
      <input type="text" class="player-input" placeholder="Name or username">
      <button class="player-input-submit button-secondary">Add player</button>
    </div>
  </div>

  <div class="player-area-header">
    <h2><%= t('admin.games.new.add_tournament_directors') %></h2>
  </div>

  <%= field_errors @game, :referees %>

  <div class="player-area" id="js-game-referees">
    <%= render 'empty_referees', show: @game.referees.empty? %>
    <ul class="players" style="<%= 'display: none' if @game.referees.empty? %>" data-scope="referee">
      <%= form.fields_for :referees do |referees_form| -%>
        <%= render 'referee_fields', form: referees_form %>
      <% end -%>
    </ul>
  </div>

  <div class="player-area-footer">
    <div class="player-input-wrapper" id="js-game-referees-input">
      <input type="text" class="player-input" placeholder="Name or username">
      <button class="player-input-submit button-secondary">Add TD</button>
    </div>
  </div>

  <%= form.submit class: 'button wide', name: nil, data: { disable_with: 'Please wait...' } %>
<% end %>