<tr>
  <td>
    <%= link_to edit_admin_game_path(game) do %>
      <span class="highlight">Game <%= game.name %></span>
    <%- end %>
  </td>
  <td><%= game.venue.name %></td>
  <td><%= local_time game.played_on, '%B %e, %Y' %></td>
  <td class="stretch"><%= game.season.name %></td>
  <td><%= pluralize game.games_players.count, 'player' %></td>
</tr>