<%- content_for :title, "Edit Game #{@game.name} (Admin)" %>

<!-- Header -->
<div class="wrapper-header admin">
    <h1 class="has-subtitle">Edit Game <%= @game.name %></h1>
    <p class="subtitle">Update an old game. Note: It may take a few minutes for the changes made here to propagate to each of the players involved.</p>
</div>

<div class="column-wrapper small-first">

    <!-- Navigation -->
    <div class="thin">
        <%= render 'admin/navigation' %>
    </div>

    <div class="wide">

        <!-- Form -->
        <div class="background">
            <h2>Form</h2>
            <%= render 'form' %>
        </div>

        <!-- Danger zone -->
        <div class="background danger-zone">
            <h2><i class="material-icons">&#xE002;</i> Delete game</h2>
            <p><strong>Permanently</strong> delete Game <%= @game.name %> from the database. You will not be able to recover it. This game's players will lose any points earned in this game.</p>

            <div class="buttons">
                <%= link_to admin_game_path(@game), method: :delete, class: 'button danger', data: {confirm: t('game.confirm_delete')} do %>
                    Delete Game <%= @game.name %>
                <% end %>
            </div>
        </div>

    </div>

</div>