<% content_for :title, 'All Games (Admin)' %>

<div class="admin-body">

    <div class="admin-breakdown">

        <h2>
            <span>breakdown</span>
            <i class="material-icons">&#xE8E5;</i>
        </h2>

        <div class="stats">

            <!-- Registered players -->
            <div class="stat">
                <p class="value"><%= number_with_delimiter @stats[:count] %></p>
                <p class="description">games played</p>
            </div>

            <!-- New players -->
            <div class="stat">
                <p class="value"><%= number_with_delimiter @stats[:new_count] %></p>
                <p class="description">in the last 30 days</p>
            </div>

        </div>

    </div>

    <% if @games.empty? %>
        <%= render partial: 'admin/empty-state', locals: { noun: 'games', link: new_admin_game_path } %>
    <% else %>
        <table>
            <tr>
                <th></th>
                <th>Played</th>
                <th>Venue</th>
                <th class="stretch">Season</th>
                <th class="numeric">Players</th>
                <th class="numeric">Referees</th>
            </tr>
            <%= render @games %>
        </table>
    <% end %>

    <div class="footer">
        <%= paginate @games %>
        <p><%= page_entries_info @games %></p>
    </div>

</div>