<div class="game">
    <h1><%= link_to "Game #{game.name}", game_path(game) %></h1>

    <div class="info">

        <!-- Date -->
        <p>
            <i class="material-icons">date_range</i>
            <%= local_date game.played_on, '%B %e' %>
        </p>

        <!-- Season -->
        <p>
            <i class="material-icons">explore</i>
            <%= link_to game.season.name, season_path(game.season) %>
        </p>

        <!-- Venue -->
        <p>
            <i class="material-icons">&#xE8F9;</i>
            <%= link_to game.venue.name, venue_path(game.venue) %>
        </p>

    </div>

    <div class="counts">

        <!-- Player count -->
        <div>
            <i class="material-icons">person</i>
            <%= pluralize game.games_players.count, 'player' %>
        </div>

        <!-- Referee count -->
        <div>
            <i class="material-icons">verified_user</i>
            <%= pluralize game.referees.count, 'director' %>
        </div>

    </div>

    <div class="referees">
        <h2>Tournament Directors</h2>
        <ul><%= render collection: game.referees, partial: 'referee' %></ul>
    </div>

</div>