<%- content_for :title, 'Generate Mail List (Admin)' %>

<div class="column-wrapper small-first">

    <!-- Navigation -->
    <div class="thin">
        <%= render 'admin/navigation' %>
    </div>

    <div class="wide">

        <!-- Header -->
        <div class="wrapper-header admin">
            <div>
                <h1 class="has-subtitle">Generate Mail List</h1>
                <p class="subtitle">This page allows you to generate a list of all players that have opted to receive
                    promotional mail.</p>
            </div>
        </div>

        <div class="background">

            <h2>Form</h2>

            <%= form_with url: "#{admin_mail_players_path}.csv", data: {remote: false} do |form| %>

                <section>
                    <div class="section-outline">
                        <h2><span>1</span>List details</h2>
                    </div>
                    <div class="section-content">

                        <!-- Filter -->
                        <div class="field">
                            <%= form.label :target %>
                            <%= form.select :target, options_for_select(
                                [
                                    ['Receiving promotional mail', 'promotional'],
                                    ['Receiving event mail', 'event'],
                                    ['Everyone', 'all']
                                ]
                            ), {}, id: 'target' %>
                        </div>

                    </div>
                </section>

                <div class="field buttons">
                    <%= form.submit 'Generate list', class: 'button' %>
                    <%= link_to 'Cancel', admin_players_path, class: 'button-tertiary' %>
                </div>

            <% end %>

        </div>

    </div>

</div>