<%- content_for :title, t('venues.show.title') % { venue: @venue.name } %>
<%- content_for :description, t('venues.show.description') % { venue: @venue.name } %>
<%- content_for :canonical_url, venue_url(@venue) %>

<div class="wrapper split-header">
  <%= render 'application/password_banner' %>

  <span class="subheading">Venue</span>
  <h1><%= t('venues.show.title') % { venue: @venue.name } %></h1>
</div>

<div class="wrapper split-wrapper">
  <div>
    <% players = @venue.paginated_players(params[:page]) -%>
    <div class="model-list">
      <table>
        <%= render collection: players, partial: 'application/standard_player' %>
      </table>
    </div>

    <div class="model-list-footer">
      <%= paginate players %>
      <p><%= page_entries_info players %></p>
    </div>
  </div>

  <div class="venue-data">
    <% if @venue.image.present? -%>
      <!-- Image -->
      <div class="venue-image">
        <%= image_tag @venue.image.url(:regular) %>
      </div>
    <% end -%>

    <ul>
      <% unless @venue.website.nil? || @venue.website.blank? %>
        <!-- Website -->
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95c-.32-1.25-.78-2.45-1.38-3.56 1.84.63 3.37 1.91 4.33 3.56zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2s.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56-1.84-.63-3.37-1.9-4.33-3.56zm2.95-8H5.08c.96-1.66 2.49-2.93 4.33-3.56C8.81 5.55 8.35 6.75 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2s.07-1.35.16-2h4.68c.09.65.16 1.32.16 2s-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95c-.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2s-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z"></path></svg>
          <%= link_to 'Official website', @venue.website, target: '_blank', class: 'anchor' %>
        </li>
      <% end -%>

      <% unless @venue.facebook.nil? || @venue.facebook.blank? %>
        <!-- Facebook -->
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92s2.92-1.31 2.92-2.92-1.31-2.92-2.92-2.92z"></path></svg>
          <%= link_to 'Official Facebook page', @venue.facebook, target: '_blank', class: 'anchor' %>
        </li>
      <% end -%>

      <% unless @venue.phone_number.nil? || @venue.phone_number.blank? %>
        <!-- Phone -->
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.23 15.26l-2.54-.29c-.61-.07-1.21.14-1.64.57l-1.84 1.84c-2.83-1.44-5.15-3.75-6.59-6.59l1.85-1.85c.43-.43.64-1.03.57-1.64l-.29-2.52c-.12-1.01-.97-1.77-1.99-1.77H5.03c-1.13 0-2.07.94-2 2.07.53 8.54 7.36 15.36 15.89 15.89 1.13.07 2.07-.87 2.07-2v-1.73c.01-1.01-.75-1.86-1.76-1.98z"></path></svg>
          <span><%= @venue.phone_number %></span>
        </li>
      <% end -%>

      <!-- Region -->
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" class="material-icons"><path d="M13.2,7.07L10.25,11l2.25,3c0.33,0.44,0.24,1.07-0.2,1.4l0,0c-0.44,0.33-1.07,0.25-1.4-0.2c-1.05-1.4-2.31-3.07-3.1-4.14c-0.4-0.53-1.2-0.53-1.6,0l-4,5.33C1.71,17.06,2.18,18,3,18h18c0.82,0,1.29-0.94,0.8-1.6l-7-9.33C14.4,6.53,13.6,6.53,13.2,7.07z"></path></svg>
        <%= link_to @venue.region.name, region_path(@venue.region), class: 'anchor' %>
      </li>
    </ul>

    <address>
      <%= venue_address(@venue) %>
    </address>

    <div class="games-and-players">
      <!-- Players -->
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" class="material-icons">
          <path d="M16,11c1.66,0,2.99-1.34,2.99-3c0-1.66-1.33-3-2.99-3s-3,1.34-3,3C13,9.66,14.34,11,16,11z"></path>
          <path d="M8,11c1.66,0,2.99-1.34,2.99-3c0-1.66-1.33-3-2.99-3S5,6.34,5,8C5,9.66,6.34,11,8,11z"></path>
          <path d="M8,13c-2.33,0-7,1.17-7,3.5V18c0,0.55,0.45,1,1,1h12c0.55,0,1-0.45,1-1v-1.5C15,14.17,10.33,13,8,13z"></path>
          <path d="M16,13c-0.29,0-0.62,0.02-0.97,0.05c0.02,0.01,0.03,0.03,0.04,0.04C16.21,13.92,17,15.03,17,16.5V18c0,0.35-0.07,0.69-0.18,1H22c0.55,0,1-0.45,1-1v-1.5C23,14.17,18.33,13,16,13z"></path>
        </svg>
        <% player_count = @venue.players.count -%>
        <span><strong><%= player_count %></strong> <%= 'player'.pluralize(player_count) %></span>
      </p>

      <!-- Games -->
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" class="material-icons">
          <path d="M15,7.29V3c0-0.55-0.45-1-1-1h-4C9.45,2,9,2.45,9,3v4.29c0,0.13,0.05,0.26,0.15,0.35l2.5,2.5c0.2,0.2,0.51,0.2,0.71,0l2.5-2.5C14.95,7.55,15,7.43,15,7.29z M7.29,9H3c-0.55,0-1,0.45-1,1v4c0,0.55,0.45,1,1,1h4.29c0.13,0,0.26-0.05,0.35-0.15l2.5-2.5c0.2-0.2,0.2-0.51,0-0.71l-2.5-2.5C7.55,9.05,7.43,9,7.29,9z M9,16.71V21c0,0.55,0.45,1,1,1h4c0.55,0,1-0.45,1-1v-4.29c0-0.13-0.05-0.26-0.15-0.35l-2.5-2.5c-0.2-0.2-0.51-0.2-0.71,0l-2.5,2.5C9.05,16.45,9,16.57,9,16.71z M16.35,9.15l-2.5,2.5c-0.2,0.2-0.2,0.51,0,0.71l2.5,2.5c0.09,0.09,0.22,0.15,0.35,0.15H21c0.55,0,1-0.45,1-1v-4c0-0.55-0.45-1-1-1h-4.29C16.57,9,16.45,9.05,16.35,9.15z"></path>
        </svg>
        <% game_count = Game.where(venue: @venue).count -%>
        <span><strong><%= game_count %></strong> <%= 'game'.pluralize(game_count) %></span>
      </p>
    </div>
  </div>
</div>
