<%= form_for [:admin, @venue] do |f| %>

    <%= render partial: 'application/form-errors', locals: { object: @venue } %>

    <div class="field">
        <%= f.label :name %><br/>
        <%= f.text_field :name, autofocus: true, spellcheck: false %>
    </div>

    <div class="field">
        <%= f.label :region_id %><br />
        <%= f.collection_select(:region_id, Region.all, :id, :name) %>
    </div>

    <div class="actions">
        <br />
        <%= f.submit %> |
        <%= link_to 'Cancel', admin_venues_path %>
    </div>

<% end %>