<%= form_for [:admin, @venue] do |form| %>

    <%= render partial: 'application/form-errors', locals: { object: @venue } %>

    <section>
        <div class="section-outline">
            <h2><span>1</span>Venue details</h2>
        </div>
        <div class="section-content">

            <!-- Name -->
            <div class="field">
                <%= form.label :name %><br/>
                <%= form.text_field :name, autofocus: true, spellcheck: false, placeholder: 'e.g. Nabiac Hotel' %>
            </div>

        </div>
    </section>


    <section>
        <div class="section-outline">
            <h2><span>2</span>Location</h2>
        </div>
        <div class="section-content">

            <!-- Region -->
            <div class="field">
                <%= form.label :region_id %><br/>
                <%= form.collection_select :region_id, Region.all, :id, :name %>
            </div>

        </div>
    </section>

    <div class="actions buttons">
        <%= form.submit class: 'button' %>
        <%= link_to 'Cancel', admin_venues_path, class: 'button-tertiary' %>
    </div>

<% end %>