<%= form_for [:admin, @venue] do |form| %>

    <%= render partial: 'application/form-errors', locals: { object: @venue } %>

    <div class="field">
        <%= form.label :name %><br/>
        <%= form.text_field :name, autofocus: true, spellcheck: false %>
    </div>

    <div class="field">
        <%= form.label :region_id %><br />
        <%= form.collection_select(:region_id, Region.all, :id, :name) %>
    </div>

    <div class="actions">
        <br />
        <%= form.submit %> |
        <%= link_to 'Cancel', admin_venues_path %>
    </div>

<% end %>