<% comments = @game.comments.includes(:player).page(params[:comment_page]).per(10) %>
<h2><%= pluralize @game.comments.count, 'comment' %></h2>

<!-- Comments -->
<ul class="game-comments">
  <%= render comments %>
</ul>

<% if player_signed_in? -%>
  <%= render 'comments/form' %>
<% else -%>
  <p>You must <%= link_to 'login', new_player_session_path, class: 'anchor', remote: true, data: { expects_modal: true} %> to leave comments.</p>
<% end -%>

<%= paginate comments, param_name: :comment_page %>
