<tr class="inter-ui-ss01<%= ' first' if player.position == 0 %>">
    <td class="quiet"><%= (player.position + 1).ordinalize %></td>
    <td class="stretch">
        <% if player.player.nil? %>
            [Deleted player]
        <% else %>
            <%= link_to player.player, data: { player_id: player.player.id, show_profile_preview: true} do %>
                <%= player.player.full_name %>
                <span class="quiet">@<%= player.player.username %></span>
            <%- end %>
        <% end %>
    </td>
    <td class="numeric score"><%= number_with_delimiter player.score %></td>
</tr>