<% p = player.player %>
<tr>

  <!-- Position -->
  <td><%= (player.position + 1).ordinalize %></td>

  <!-- Username and flair -->
  <td class="stretch">
    <%- if p.nil? %>
      [Deleted player]
    <%- else %>
      <%= link_to player_path(p) do %>
        <span class="highlight"><%= p.full_name %></span>&nbsp;@<%= p.username %>
        <%- if p.is_developer? %>
          <span class="flair">developer</span>
        <%- elsif p.is_admin? %>
          <span class="flair">admin</span>
        <%- end %>
      <%- end %>
    <%- end %>
  </td>

  <!-- Score -->
  <td class="numeric"><%= number_to_human(player.score, format: '%n%u', precision: 2, units: { thousand: 'k', million: 'm', billion: 'b' }) %> pts</td>

</tr>