<%= form_with model: resource, url: player_registration_path, local: true,
                     class: 'modal-form' do |form| %>
  <!-- Email -->
  <div class="field">
    <%= form.label :email %><br/>
    <%= field_errors resource, :email %>
    <%= form.email_field :email, autofocus: true,
                         placeholder: 'someone@example.com' %>
  </div>

  <!-- Password -->
  <div class="field">
    <%= form.label :password %> <i>(optional)</i><br/>
    <%= field_errors resource, :password %>
    <%= form.password_field :password, autocomplete: 'off' %>
  </div>

  <!-- Password confirmation -->
  <div class="field">
    <%= form.label :password_confirmation %><br/>
    <%= field_errors resource, :password_confirmation %>
    <%= form.password_field :password_confirmation, autocomplete: 'off' %>
  </div>

  <!-- Current password -->
  <div class="field">
    <%= form.label :current_password %> <i>(required)</i><br/>
    <%= field_errors resource, :current_password %>
    <%= form.password_field :current_password, autocomplete: 'off' %>
  </div>

  <h2>Notification Settings</h2>

  <div class="field">
    <!-- Promotional emails -->
    <div class="checkbox">
      <%= form.check_box :notify_promotional %>
      <%= form.label :notify_promotional, 'Recive promotional emails' %>
    </div>

    <!-- Event emails -->
    <div class="checkbox">
      <%= form.check_box :notify_events %>
      <%= form.label :notify_events, 'Receive upcoming event emails' %>
    </div>
  </div>

  <%= form.submit 'Save settings', class: 'button wide', remote: true,
                  data: { disable_with: 'Please wait...' } %>
<% end %>
