<%= form_with model: resource, url: player_registration_path, class: 'modal-form' do |form| %>

  <%= devise_error_messages! %>

  <!-- Email -->
  <div class="field">
    <%= form.label :email %><br/>
    <%= form.email_field :email, autofocus: true, placeholder: 'someone@example.com' %>
  </div>

  <!-- Password -->
  <div class="field">
    <%= form.label :password %> <i>(optional)</i><br/>
    <%= form.password_field :password, autocomplete: 'off' %>
  </div>

  <!-- Password confirmation -->
  <div class="field">
    <%= form.label :password_confirmation %><br/>
    <%= form.password_field :password_confirmation, autocomplete: 'off' %>
  </div>

  <!-- Current password -->
  <div class="field">
    <%= form.label :current_password %> <i>(required)</i><br/>
    <%= form.password_field :current_password, autocomplete: 'off' %>
  </div>

  <hr/>

  <h2>Notification Settings</h2>

  <div class="field">

    <!-- Promotional emails -->
    <div class="checkbox">
      <%= form.check_box :notify_promotional %>
      <%= form.label :notify_promotional, 'Recive promotional emails' %>
    </div>

    <!-- Event emails -->
    <div class="checkbox">
      <%= form.check_box :notify_events %>
      <%= form.label :notify_events, 'Receive upcoming event emails' %>
    </div>

  </div>

  <%= form.submit 'Save settings', class: 'button wide', remote: true, data: { disable_with: 'Please wait...' } %>

<% end %>