<li class="achievement">

    <%- if achievement.class.type == :single %>
        <%- case achievement.level %>
        <%- when 0 %>
            <%= image_tag 'pokerchip-black.svg' %>
        <%- when 1 %>
            <%= image_tag 'pokerchip-purple.svg' %>
        <%- when 2 %>
            <%= image_tag 'pokerchip-yellow.svg' %>
        <%- when 3 %>
            <%= image_tag 'pokerchip-orange.svg' %>
        <%- when 4 %>
            <%= image_tag 'pokerchip-white.svg' %>
        <%- when 5..100 %>
            <%= image_tag 'pokerchip-blue.svg' %>
        <%- else %>
            <%= image_tag 'pokerchip-green.svg' %>
        <%- end %>
    <%- else %>
        <%= image_tag 'pokerchip-green.svg' %>
    <%- end %>

    <%- if achievement.proof.present? %>
        <%= link_to achievement.proof.url(:full) do %>
            <p class="title"><%= achievement.title %></p>
            <p class="description"><%= achievement.description %></p>
        <% end %>
    <%- else %>
        <div>
            <p class="title"><%= achievement.title %></p>
            <p class="description"><%= achievement.description %></p>
        </div>
    <%- end %>
</li>