<tr>
  <!-- Rank -->
  <td><%= player.rank.nil? ? 'n/a' : (player.rank + 1).ordinalize %></td>

  <!-- Username and flair -->
  <td class="stretch">
    <% if player.nil? %>
      [Deleted player]
    <% else %>
      <%= link_to player_path(player) do %>
        <span class="highlight"><%= player.full_name %></span>&nbsp;@<%= player.username %>
        <% if player.developer? %>
          <span class="flair">developer</span>
        <% elsif player.admin? %>
          <span class="flair">admin</span>
        <% end %>
      <% end %>
    <% end %>
  </td>

  <!-- Score -->
  <td class="numeric"><%= number_format player.score %> pts</td>

  <!-- Wins -->
  <td class="numeric"><%= number_format player.games_played %> <%= 'game'.pluralize(player.games_played) %></td>
</tr>