<%- content_for :title, t('players.show.title') % { name: @player.full_name, username: "@#{@player.username}" } %>
<%- content_for :description, t('players.show.description') % { name: @player.full_name } %>
<%- content_for :canonical_url, players_url %>

<div class="hero inverted">
  <div class="wrapper">
    <span class="subheading">Player Profile</span>
    <h1><%= @player.full_name %></h1>
  </div>
</div>

<div class="wrapper split-wrapper player-wrapper">
  <div>
    <!-- Breakdown -->
    <div class="breakdown">
      <%- season_player = @player.season_player %>
      <!-- All Time Score -->
      <div>
        <h2>All Time Score</h2>
        <p><%= number_format @player.score %></p>
      </div>

      <!-- Seasonal Score -->
      <div>
        <h2>Seasonal Score</h2>
        <p><%= number_format season_player.nil? ? 0 : season_player.score %></p>
      </div>

      <!-- All time rank -->
      <div>
        <h2>All Time Rank</h2>
        <p><%= @player.rank.nil? ? 'n/a' : (@player.rank + 1).ordinalize %></p>
      </div>

      <!-- Seasonal rank -->
      <div>
        <h2>Seasonal Rank</h2>
        <p><%= season_player.nil? || season_player.rank.nil? ? 'n/a' : (season_player.rank + 1).ordinalize %></p>
      </div>
    </div>

    <!-- Game history -->
    <% games = @player.recent_games.page(params[:page]).per(25) -%>
    <div class="model-list game-list">
      <table>
        <%= render collection: games, partial: 'game_player' %>
      </table>
    </div>

    <div class="model-list-footer">
      <%= paginate games %>
    </div>
  </div>

  <!-- Achievements -->
  <div class="player-data">
    <h2>Recent Achievements</h2>
    <%# <ul> %>
    <%#   <%= render collection: @player.achievements.order(updated_at: :desc).first(3), partial: 'achievement' %1> %>
    <%# </ul> %>
    <%# <%= link_to 'View all achievements', player_achievements_path(@player), class: 'button-tertiary' %1> %>
    <p>Sorry, this section is under construction. Please check back later.</p>

    <div class="tickets">
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="material-icons"><path d="M20 12c0-.76.43-1.42 1.06-1.76.6-.33.94-1.01.94-1.7V6c0-1.1-.9-2-2-2H4c-1.1 0-1.99.89-1.99 1.99v2.55c0 .69.33 1.37.94 1.69C3.58 10.58 4 11.24 4 12s-.43 1.43-1.06 1.76c-.6.33-.94 1.01-.94 1.7v2.25C2 19.1 2.9 20 4 20h16c1.1 0 2-.9 2-2v-2.54c0-.69-.34-1.37-.94-1.7-.63-.34-1.06-1-1.06-1.76zm-5.5 4.1L12 14.5l-2.5 1.61c-.38.24-.87-.11-.75-.55l.75-2.88-2.3-1.88c-.35-.29-.17-.86.29-.89l2.96-.17 1.08-2.75c.17-.42.77-.42.93 0l1.08 2.76 2.96.17c.45.03.64.6.29.89l-2.3 1.88.76 2.86c.12.45-.37.8-.75.55z"></path></svg>
        <span><strong class="highlight"><%= number_format @player.tickets %></strong>&nbsp;<%= 'ticket'.pluralize(@player.tickets) %></span>
      </p>  
    </div>
  </div>
</div>
