<h1>@<%= @player.username %></h1>
<p>Here's some info about <%= @player.full_name %>:</p>

<h2>Stats</h2>
<table>
    <tr>
        <td>Score</td>
        <td><%= @player.score %></td>
    </tr>
    <tr>
        <td>Games Played</td>
        <td><%= @player.games_played %></td>
    </tr>
    <tr>
        <td>Games Won</td>
        <td><%= @player.games_won %></td>
    </tr>
    <tr>
        <td>Venues played at</td>
        <td><%= @player.venues.count %></td>
    </tr>
    <tr>
        <td>Seasons played in</td>
        <td><%= @player.seasons.count %></td>
    </tr>
</table>

<div>
    <h2>Achievements</h2>
    <% if @player.achievements.empty? %>
        <p>There's nothing here.</p>
    <% else %>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Proof?</th>
            </tr>
            <%= render collection: @player.achievements, partial: 'achievement' %>
        </table>
    <% end %>
</div>