<%- content_for :title, t('players.show.title') % { name: @player.full_name, username: "@#{@player.username}" } %>
<%- content_for :description, t('players.show.description') % { name: @player.full_name } %>
<%- content_for :canonical_url, players_url %>

<div class="hero inverted">
  <div class="wrapper">
    <span class="subheading">Player Profile</span>
    <h1><%= @player.full_name %></h1>
  </div>
</div>

<div class="wrapper split-wrapper player-wrapper">
  <div>
    <!-- Breakdown -->
    <div class="breakdown">
      <%- season_player = @player.season_player %>
      <!-- All Time Score -->
      <div>
        <h2>All Time Score</h2>
        <p><%= number_format @player.score %></p>
      </div>

      <!-- Seasonal Score -->
      <div>
        <h2>Seasonal Score</h2>
        <p><%= number_format season_player.nil? ? 0 : season_player.score %></p>
      </div>

      <!-- All time rank -->
      <div>
        <h2>All Time Rank</h2>
        <p><%= @player.rank.nil? ? 'n/a' : (@player.rank + 1).ordinalize %></p>
      </div>

      <!-- Seasonal rank -->
      <div>
        <h2>Seasonal Rank</h2>
        <p><%= season_player.nil? || season_player.rank.nil? ? 'n/a' : (season_player.rank + 1).ordinalize %></p>
      </div>
    </div>

    <!-- Game history -->
    <% games = @player.recent_games.page(params[:page]).per(25) -%>
    <div class="model-list game-list">
      <table>
        <%= render collection: games, partial: 'game_player' %>
      </table>
    </div>

    <div class="model-list-footer">
      <%= paginate games %>
    </div>
  </div>

  <!-- Achievements -->
  <div class="player-data">
    <h2>Recent Achievements</h2>
    <!--
    <ul>
      <%#= render collection: @player.achievements.order(updated_at: :desc).first(3), partial: 'achievement' %>
    </ul>
    <%#= link_to 'View all achievements', player_achievements_path(@player), class: 'button-tertiary' %>
    -->
    <p>Sorry, this section is under construction. Please check back later.</p>
  </div>
</div>