<% content_for :title do %>Sign in<% end %>
<% content_for :description do %><%= t('description.players.sessions.new') %><% end %>

<!--<h1>Welcome back!</h1>-->

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= render 'application/flashes' %>

    <div class="field">
        <%= f.label :login, 'Email or username' %><br/>
        <%= f.text_field :login, autofocus: true %>
    </div>

    <div class="field">
        <%= f.label :password %><br/>
        <%= f.password_field :password, autocomplete: 'off' %>
    </div>

    <div class="field remember-and-forget">
        <div class="remember">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
        </div>
        <%= link_to 'Forgot your password?', new_password_path(resource_name) %>
    </div>

    <div class="actions">
        <%= f.submit 'Sign in', class: 'button wide' %>
    </div>

    <div class="form-footer">
        <p>Don't have an account? <%= link_to 'Create one!', new_registration_path(resource_name) %></p>
    </div>

<% end %>