<%= form_with model: [:admin, @region], class: 'modal-form' do |form| %>
  <!-- Name -->
  <div class="field">
    <%= form.label :name %><br/>
    <%= field_errors @region, :name %>
    <%= form.text_field :name, autofocus: true, spellcheck: false, placeholder: 'e.g. Taree' %>
  </div>

  <%= form.submit class: 'button wide', data: { disable_with: 'Please wait...' } %>

  <% if @region.persisted? -%>
    <%= danger_zone(@region, "Delete #{@region.name}", admin_region_path(@region), t('admin.regions.confirm_delete')) %>
  <% end -%>
<% end %>
