<%= form_with model: [:admin, @region] do |form| %>

  <%= render partial: 'application/form_errors', locals: { object: @region } %>

  <!-- Name -->
  <div class="field">
    <%= form.label :name %><br/>
    <%= form.text_field :name, autofocus: true, spellcheck: false, placeholder: 'e.g. Taree' %>
  </div>

  <%= form.submit class: 'button wide', data: { disable_with: 'Please wait...' } %>

<% end %>
