<%= form_for [:admin, @region] do |f| %>

    <%= render partial: 'application/form-errors', locals: { object: @region } %>

    <div class="field">
        <%= f.label :name %><br/>
        <%= f.text_field :name, autofocus: true, spellcheck: false %>
    </div>

    <div class="actions">
        <br />
        <%= f.submit %> |
        <%= link_to 'Cancel', admin_regions_path %>
    </div>

<% end %>
