<%= form_with model: [:admin, @region], local: true do |form| %>

  <%= render partial: 'application/form_errors', locals: { object: @region } %>

  <section>
    <div class="section-outline">
      <h2><span>I</span>Region details</h2>
    </div>
    <div class="section-content">

      <!-- Name -->
      <div class="field">
        <%= form.label :name, for: 'region_name' %><br/>
        <%= form.text_field :name, id: 'region_name', autofocus: true, spellcheck: false, placeholder: 'e.g. Taree' %>
      </div>

    </div>
  </section>

  <div class="actions buttons">
    <%= form.submit class: 'button' %>
    <%= link_to 'Cancel', admin_regions_path, class: 'button-tertiary' %>
  </div>

<% end %>
