<%= form_for [:admin, @region] do |form| %>

    <%= render partial: 'application/form-errors', locals: { object: @region } %>

    <div class="field">
        <%= form.label :name %><br/>
        <%= form.text_field :name, autofocus: true, spellcheck: false %>
    </div>

    <div class="actions">
        <br />
        <%= form.submit %> |
        <%= link_to 'Cancel', admin_regions_path %>
    </div>

<% end %>
