<%- content_for :title, t('admin.regions.index.title') %>

<div class="heading-and-button">
  <div>
    <span class="subheading">Admin Tools</span>
    <h1><%= t('admin.regions.index.title') %></h1>
  </div>
  <div>
    <%= link_to t('admin.regions.new.title'), new_admin_region_path, class: 'button', remote: true, data: { expects_modal: true, disable: true } %>
  </div>
</div>

<div class="regions-list model-list">
  <table>
    <%= render @regions %>
  </table>
</div>

<div class="model-list-footer">
  <%= paginate @regions %>
  <p><%= page_entries_info @regions %></p>
</div>

