<% content_for :title, t('region.show.title') % { region: @region.name } -%>
<% content_for :description, t('region.show.description') % { region: @region.name } -%>
<% content_for :canonical_url, region_url(@region) -%>

<div class="wrapper split-header">
  <span class="subheading">Region</span>
  <h1><%= t('region.show.title') % { region: @region.name } %></h1>
</div>

<div class="wrapper split-wrapper">
  <div>
    <% players = @region.paginated_players(params[:page]) -%>
    <div class="model-list">
      <table>
        <%= render collection: players, partial: 'application/standard_player' %>
      </table>
    </div>

    <div class="model-list-footer">
      <%= paginate players %>
      <p><%= page_entries_info players %></p>
    </div>
  </div>

  <div class="region-data">
    <!-- Venues -->
    <ul class="venue-list">
      <%= render collection: @region.venues, partial: 'venue' %>
    </ul>

    <div class="games-and-players">
      <!-- Players -->
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" class="material-icons">
          <path d="M16,11c1.66,0,2.99-1.34,2.99-3c0-1.66-1.33-3-2.99-3s-3,1.34-3,3C13,9.66,14.34,11,16,11z"></path>
          <path d="M8,11c1.66,0,2.99-1.34,2.99-3c0-1.66-1.33-3-2.99-3S5,6.34,5,8C5,9.66,6.34,11,8,11z"></path>
          <path d="M8,13c-2.33,0-7,1.17-7,3.5V18c0,0.55,0.45,1,1,1h12c0.55,0,1-0.45,1-1v-1.5C15,14.17,10.33,13,8,13z"></path>
          <path d="M16,13c-0.29,0-0.62,0.02-0.97,0.05c0.02,0.01,0.03,0.03,0.04,0.04C16.21,13.92,17,15.03,17,16.5V18c0,0.35-0.07,0.69-0.18,1H22c0.55,0,1-0.45,1-1v-1.5C23,14.17,18.33,13,16,13z"></path>
        </svg>
        <% player_count = @region.players.count -%>
        <span><strong><%= player_count %></strong> <%= 'player'.pluralize(player_count) %></span>
      </p>

      <!-- Games -->
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" class="material-icons">
          <path d="M15,7.29V3c0-0.55-0.45-1-1-1h-4C9.45,2,9,2.45,9,3v4.29c0,0.13,0.05,0.26,0.15,0.35l2.5,2.5c0.2,0.2,0.51,0.2,0.71,0l2.5-2.5C14.95,7.55,15,7.43,15,7.29z M7.29,9H3c-0.55,0-1,0.45-1,1v4c0,0.55,0.45,1,1,1h4.29c0.13,0,0.26-0.05,0.35-0.15l2.5-2.5c0.2-0.2,0.2-0.51,0-0.71l-2.5-2.5C7.55,9.05,7.43,9,7.29,9z M9,16.71V21c0,0.55,0.45,1,1,1h4c0.55,0,1-0.45,1-1v-4.29c0-0.13-0.05-0.26-0.15-0.35l-2.5-2.5c-0.2-0.2-0.51-0.2-0.71,0l-2.5,2.5C9.05,16.45,9,16.57,9,16.71z M16.35,9.15l-2.5,2.5c-0.2,0.2-0.2,0.51,0,0.71l2.5,2.5c0.09,0.09,0.22,0.15,0.35,0.15H21c0.55,0,1-0.45,1-1v-4c0-0.55-0.45-1-1-1h-4.29C16.57,9,16.45,9.05,16.35,9.15z"></path>
        </svg>
        <% game_count = Game.where(venue: @region.venues.pluck(:id)).count -%>
        <span><strong><%= game_count %></strong> <%= 'game'.pluralize(game_count) %></span>
      </p>
    </div>
  </div>
</div>