<div class="footer">

  <div class="footer-buttons">
    <div class="wrapper">
      <%- if !player_signed_in? || true %>

        <!-- Join -->
        <%= link_to new_player_registration_path, class: 'button' do %>
          <span>Create an account</span>
        <% end %>

        <!-- Secure login -->
        <%= link_to new_player_session_path, class: 'button-secondary' do %>
          <i class="material-icons">&#xE88D;</i>
          <span>Secure login</span>
        <% end %>

      <%- end %>
    </div>
  </div>

  <div class="wrapper">

    <div class="nav-columns">
      <ul class="column">
        <li class="title">River Rats</li>
        <li><%= link_to 'All Time Leaderboard', players_path %></li>
        <li><%= link_to 'Seasonal Leaderboard', seasons_path %></li>
        <li><%= link_to 'Game history', games_path %></li>
        <li><%= link_to 'Event calendar', events_path %></li>
      </ul>
      <ul class="column">
        <li class="title">Account</li>
        <%- if player_signed_in? %>
          <li><%= link_to 'View my profile', player_path(current_player) %></li>
          <li><%= link_to 'Preferences', edit_player_registration_path %></li>
          <%- if current_player.is_admin %>
            <li><%= link_to 'Admin panel', admin_root_path %></li>
          <%- end %>
          <li><%= link_to 'Random profile', players_random_path %></li>
          <li><%= link_to 'Logout', destroy_player_session_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } %></li>
        <%- else %>
          <li><%= link_to 'Create an account', new_player_registration_path %></li>
          <li><%= link_to 'Secure login', new_player_session_path %></li>
          <li><%= link_to 'Forgot password', new_player_password_path %></li>
          <li><%= link_to 'Random profile', players_random_path %></li>
        <%- end %>
      </ul>
      <ul class="column">
        <li class="title">Legal</li>
        <li><%= link_to 'Privacy policy', privacy_policy_path %></li>
      </ul>
    </div>

  </div>

  <div class="footer-base">
    <div class="wrapper">
      <p>Designed &amp; developed by <%= link_to 'Sean Bailey', 'https://www.seanbailey.io', target: '_blank' %></p>
      <p class="version"><%= I18n.t('version') %></p>
      <p>River Rats Poker League &copy; <%= Date.today.year %></p>
    </div>
  </div>

</div>