<div class="header">

  <!-- Update Banner -->
  <div class="update-banner">
    <div class="wrapper">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
           height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
        <g><path d="M12,10.9c-0.61,0-1.1,0.49-1.1,1.1s0.49,1.1,1.1,1.1c0.61,0,1.1-0.49,1.1-1.1S12.61,10.9,12,10.9z M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M14.19,14.19L6,18l3.81-8.19L18,6L14.19,14.19z"></path></g>
      </svg>
      <p>River Rats has a new coat of paint! <%= link_to 'Click here to learn what\'s new', '' %>.</p>
    </div>
  </div>

  <div class="wrapper">

    <!-- Logo -->
    <%= link_to root_path, class: 'logo' do %>
      <%= image_tag 'flat logo.svg' %>
    <% end %>

    <!-- Navigation -->
    <nav>
      <ul>
        <%= render 'application/header/news_dropdown' %>
        <%= render 'application/header/leaderboards_dropdown' %>
        <%= render 'application/header/venues_dropdown' %>

        <!-- Calendar -->
        <li>
          <%= link_to 'Event Calendar', events_path %>
        </li>
      </ul>
    </nav>

    <!-- Account -->
    <div class="account">
      <%- if player_signed_in? %>
        <%= render 'application/header/account_dropdown' %>
        <%= render 'application/header/notifications_dropdown' %>
      <%- else %>
        <%= link_to 'Create an account', new_player_registration_path, class: 'register', remote: true, data: { expects_modal: true, disable: true } %>
        <%= link_to 'Secure login', new_player_session_path, class: 'login', remote: true, data: { expects_modal: true, disable: true } %>
      <%- end %>
    </div>

  </div>
</div>