<div class="header" data-turbolinks-permanent>
  <div class="wrapper">
    <%# Logo %>
    <%= link_to root_path, class: 'header__logo' do %>
      <%= image_tag 'flat logo.svg' %>
    <% end %>

    <%# Search bar %>
    <div class="search-wrapper">
      <% remote = action_name == 'search' && controller_path == 'players' -%>
      <%= form_with url: search_players_path, method: :get, class: 'search', local: !remote do |form| %>
        <%= form.search_field :query, value: params[:query], placeholder: 'Search players' %>
        <%= form.submit 'search', name: nil %>
      <% end -%>
    </div>

    <%= render 'application/header/navigation' %>
    <%= render 'application/header/account' %>
  </div>
</div>

<div class="header__dropdown-overlay dropdown__overlay"></div>
