<% content_for :styles do %>
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :scripts do %>
    <%= javascript_include_tag 'admin/admin' %>
<% end %>

<% content_for :body_class, 'admin' %>

<% content_for :body do %>

    <!-- Temp header -->
    <div class="header" style="width: 100%; background: white; height: 80px; box-shadow: 0 15px 30px rgba(0, 0, 0, 0.02), 0 5px 15px rgba(0, 0, 0, 0.02)">
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Logout', destroy_player_session_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } %>
    </div>

    <!-- Wraps everything into the centre of the page -->
    <div class="admin-wrapper">

        <!-- Buttons and search -->
        <div class="admin-flexible-wrapper" id="buttons-and-search"><%= render 'admin/buttons' %></div>

        <!-- Wraps content side by side-->
        <div class="admin-flexible-wrapper">

            <%= render 'admin/navigation' %>

            <!-- Wraps right side of content-->
            <div class="admin-content-wrapper">
                <%= yield %>
            </div>

        </div>

    </div>

<% end %>

<%= render template: 'layouts/application' %>