<!DOCTYPE html>
<html lang="en-AU">
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'River Rats Poker League' %><%= yield(:title_suffix) %></title>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1, maximum-scale: 1.0"/>
  <meta name="description" content="<%= yield(:description) %>"/>
  <link rel="canonical" href="<%= yield(:canonical_url) %>">
  <%= render 'favicons' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= stylesheet_pack_tag 'application' %>
  <%= yield :styles %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
  <%= yield :scripts %>

  <%# Add meta tag to page to let javascript know whether the player is signed in -%>
  <% if player_signed_in? -%>
    <%= tag :meta, name: 'current-user', data: { id: current_player.id } %>
  <% end -%>
</head>
<body class="<%= yield(:body_class) %>">
  <%= render 'flash_messages' %>
  <%= render 'application/header' %>
  <%= content_for?(:body) ? yield(:body) : yield %>
  <%= render 'application/footer' %>
  <%= render 'modals' %>
</body>
</html>
