<!DOCTYPE html>
<html>
  <head>
      <title>RiverratsComAu</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <p>Admin Navigation</p>
      <%= link_to 'Players', admin_players_path %> |
      <%= link_to 'Games', admin_games_path %> |
      <%= link_to 'Events', admin_events_path %> |
      <%= link_to 'Venues', admin_venues_path %> |
      <%= link_to 'Regions', admin_regions_path %>
      <hr style="margin: 2rem 0 4rem" />

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>

      <hr style="margin: 4rem 0 2rem" />
      <% if player_signed_in? %>
          <%= link_to 'My profile', player_path(current_player) %> |
          <%= link_to 'Logout', destroy_player_session_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } %>
      <% else %>
          <%= link_to 'Login', new_player_session_path %> | <%= link_to 'Register', new_player_registration_path %>
      <% end %>
  </body>
</html>
