<% content_for :styles do %>
  <%= stylesheet_link_tag 'authentication', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :body_class do %>authentication<% end %>

<% content_for :body do %>
  <%= render 'application/header' %>
  <div class="auth-wrapper">
    <%= yield %>
  </div>
  <%= render 'application/footer' %>
<% end %>

<%= render template: 'layouts/application' %>